<h1>Questions</h1>
<ul>
<% @questions.each do |question| %>
  <li>
    <h2><a href="/question/<%= question.id %>"><%= question.label %></a></h2>
    <p><%= question.body %></p>
  </li>
<% end %>
</ul>
<a href="/new">Add Question</a>